# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv') #для ответа на вопрос перенесем в данный блок таблицу из первой части проекта

data = data[(data['children'] != -1) & (data['children'] != 20)] #уберем строки из колонки с количеством детей, которые содержат аномальные значения

data_pivot = data.pivot_table(index=['children'], columns='debt', values='income_type', aggfunc='count') #далее сформируем сводную таблицу
#сводная таблица содержит информацию о количестве заемщиков в разрезе количества детей и наличия задолженности, а именно: 
#в первой колонке указано количество детей у заемщика, во второй - количество заемщиков без задолженности и в третьей - количество заемщиков с задолженностью
data_pivot['debt_share'] = data_pivot[1]/(data_pivot[0]+data_pivot[1]) #далее мы добавляем столбец, где считаем долю должников среди заемщиков в разрезе заемщиков с определенным количеством детей
data_pivot = data_pivot.sort_values(by='debt_share', ascending=False) #в конце мы сортируем таблицу по убыванию по столбцу с долей должников
display(data_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

debt            0       1  debt_share
children
4            37.0     4.0    0.097561
2          1861.0   194.0    0.094404
1          4374.0   444.0    0.092154
3           303.0    27.0    0.081818
0         13086.0  1063.0    0.075129
5             9.0     NaN         NaN

**Вывод:** По итогу формирования данных можно сделать вывод:
1) основная целевая аудитория банка - это люди без детей и с одним ребенком (88%), т.е. люди с двумя и более детьми берут кредиты реже (вероятно, данный вывод нельзя принимать как 100% верный, т.к. у нас нет анализа населения по количеству детей)
2) самая высокая доля должников среди заемщиков с четырьмя детьми, а самая низкая - среди заемщиков с пятью детьми и без детей
3) также видим, что доля должников с одним ребенком и двумя детьми выше, чем доля должников с тремя детьми.

Если исключить из анализа категории заемщиков, которые содержат до 50 чесловек, а именно с колиеством детей 4 и 5, то можно сделать следующие выводы:
1) на первом месте среди должников заемщики с двумя детьми
2) на последнем месте среди должников заемщики, которые не имеют детей
3) на втором и третьем месте заемщики с одним ребенком и тремя детьми соответственно.

Таким образом, на основании полученной информации можно утверждать, что прямая зависимость "чем больше детей, тем выше доля должников" отсутствует, однако можно сделать вывод, что заемщики, у которых отсутствуют дети и, соотвестственно, отсутствуют дополнительные затраты, реже задерживают кредитные выплаты.
Также можно на основании этой информации можно определить уровень ответственности населения в зависимости от количества детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_pivot = data.pivot_table(index=['family_status'], columns='debt', values='income_type', aggfunc='count')
#сформируем сводную таблицу, чтобы понять, какое количество должников и заемщиков со своевременной оплатой кредитов в разрезе семейного статуса
data_pivot['family_status_share'] = data_pivot[1]/(data_pivot[0]+data_pivot[1]) #посчитаем долю должников в разрезе семейного положения
data_pivot = data_pivot.sort_values(by='family_status_share', ascending=False) #отсортируем по убыванию доли должников, чтобы понять, кто чаще всего задерживает кредитные выплаты
display(data_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

debt                       0    1  family_status_share
family_status
Не женат / не замужем   2526  273             0.097535
гражданский брак        3775  385             0.092548
женат / замужем        11375  927             0.075354
в разводе               1105   84             0.070648
вдовец / вдова           889   63             0.066176

**Вывод:** Исходя из полученных данных можно сделать вывод:
1) заемщики, которые не находятся в браке либо находятся в гражданском браке, менее ответственно относятся к выплатам кредитов в срок - данная категория является лидером среди должников.
2) заемщики, которые относятся к категории "вдовец/вдова" являются самыми ответственными среди заемщиков и реже всего задерживают кредитные выплаты.
3) заемщики, которые находятся в браке, а также заемщики, которые находятся в разводе, имеют средний уровень ответственности по выплатам кредитов своевременно.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
def categorize_income(total_income):
        if 0 <= total_income <= 30000:
            return 'Сверхнизкий уровень дохода'
        if 30001 <= total_income <= 50000:
            return 'Низкий уровень дохода'
        if 50001 <= total_income <= 200000:
            return 'Средний уровень дохода'
        if 200001 <= total_income <= 1000000:
            return 'Высокий уровень дохода'
        if total_income >= 1000001:
            return 'Сверхвысокий уровень дохода' #создадим функцю, которая позволит выделить категории дохода всех заемщиков

data['total_income_category'] = data['total_income'].apply(categorize_income) #добавим колонку с категорией дохода в таблицу

data_pivot = data.pivot_table(index=['total_income_category'], columns='debt', values='income_type', aggfunc='count') 
#создадим сводную таблицу, которая покажет нам количество должников исходя из уровня дохода заемщиков
data_pivot['total_income_share'] = data_pivot[1]/(data_pivot[0]+data_pivot[1]) #посчитаем долю должников в разрезе выделенных уровней дохода
data_pivot = data_pivot.sort_values(by='total_income_share', ascending=False) #отсортируем по убыванию доли должников, чтобы видеть, кто задерживает выплаты чаще, а кто реже
display(data_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

debt                             0     1  total_income_share
total_income_category
Сверхнизкий уровень дохода      20     2            0.090909
Средний уровень дохода       12648  1183            0.085532
Сверхвысокий уровень дохода     23     2            0.080000
Высокий уровень дохода        4659   354            0.070616
Низкий уровень дохода          328    21            0.060172

**Вывод:** Исходя из полученной информации видим:
1) Заемщики с доходом менее 30 000 руб. задерживают кредитные выплаты чаще других, что является логичным, т.к. заемщиков с данным уровнем дохода можно отнести к рисковой категории, хоть и берут кредиты реже остальных.
2) Заещики с доходом от 30 000 руб. до 50 000 руб. относятся к кредитам максимально ответственно и реже других категорий задерживают выплаты.
3) Заемщики с высоким доходом от 200 000 руб. до 1 000 000 руб. ближе к тем, кто не часто задерживает кредитные выплаты.
4) Заещики со средним уровнем дохода, т.е. от 50 000 руб. до 200 000 руб. чаще других берут кредиты и находятся на втором месте по несвоевременной оплате кредита после заемщиков со сверхнизуим уровнем дохода (до 30 000 руб.). Здесь сложно оценить, с чем это может быть связано, хорошо было бы посмотреть еще суммы ежемесячных выплат, чтобы понять, какую долю от дохода составляет регулярный взнос.
5) Заемщики с доходом от 1 000 000 руб. берут кредит редко и имеют средний уровень ответственности по выплате кредита в срок.

In [25]:
pd.qcut(data['total_income'], 4)

data['total_income_category'] = pd.qcut(data['total_income'], 4) #добавим колонку с категорией дохода в таблицу

data_pivot = data.pivot_table(index=['total_income_category'], columns='debt', values='income_type', aggfunc='count') 
#создадим сводную таблицу, которая покажет нам количество должников исходя из уровня дохода заемщиков
data_pivot['total_income_share'] = data_pivot[1]/(data_pivot[0]+data_pivot[1]) #посчитаем долю должников в разрезе выделенных уровней дохода
data_pivot = data_pivot.sort_values(by='total_income_share', ascending=False) #отсортируем по убыванию доли должников, чтобы видеть, кто задерживает выплаты чаще, а кто реже
display(data_pivot)# Артем, спасибо за подсказку! Удобный метод, и вроде бы получилось :) 
#Но мне бы визуально было бы удобнее воспринимать округленные цифры в категоризации дохода. Это можно будет как-то учесть в коде?

debt                         0    1  total_income_share
total_income_category
(145020.801, 203444.65]   4387  423            0.087942
(103000.126, 145020.801]  4393  417            0.086694
(20667.263, 103000.126]   4427  383            0.079626
(203444.65, 2265604.029]  4471  339            0.070478

В ходе анализа мы выделили 4 категории заемщиков в разрезе доходов:

Категория 1 - доход от 20 000 руб. до 103 000 руб.
Категория 2 - доход от 103 000 руб. до 145 000 руб.
Категория 3 - доход от 145 000 руб. до 203 000 руб.
Категория 4 - доход от 203 000 руб. до 2 265 000 руб.

Исходя из полученной информации видим:

1) Чаще всего задерживают выплаты заемщики с доходом от 145 000 руб. до 203 000 руб. (категория 3)
2) Меньше всего доля должников составляет среди заемщиков категории 4 и категории 1, т.е. среди заемщиков с доходом от 203 000 руб. до 2 265 000 руб. и с доходом от 20 000 руб. до 103 000 руб.

То есть можем сделать вывод, что заемщики с минимальным и максимальным уровнем дохода более ответственны, чем заемщики со средним уровнем дохода.

(Также, как и утверждала ранее, на мой взгляд, здесь для полного анализа не хватает информации о сумме ежемесячных выплат и информации о том, какой % от ежемесячного дохода данные выплаты составляют.)

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'
    
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

data_pivot = data.pivot_table(index=['purpose_category'], columns='debt', values='income_type', aggfunc='count')
#сформируем сводную таблицу, чтобы понять, какое количество должников и заемщиков со своевременной оплатой кредитов в разрезе семейного статуса
data_pivot['purpose_share'] = data_pivot[1]/(data_pivot[0]+data_pivot[1]) #посчитаем долю должников в разрезе семейного положения
data_pivot = data_pivot.sort_values(by='purpose_share', ascending=False) #отсортируем по убыванию доли должников, чтобы понять, кто чаще всего задерживает кредитные выплаты
display(data_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

debt                          0    1  purpose_share
purpose_category
операции с автомобилем     3888  400       0.093284
получение образования      3628  369       0.092319
проведение свадьбы         2154  183       0.078306
операции с недвижимостью  10000  780       0.072356

**Вывод:** Исходя из полученной информации видим, что:
1) Заемщики, которые берут кредит на автомобили и обучение, задерживают выплаты чаще
2) Заемщики, которые берут кредит на свадьбы и недвижимость, более ответственно подходят к выплате кредитов в рок

Можно предположить, что заемщики, которые берут кредит на свадьбы и недвижимость, находятся в браке и имеют более высокий уровень ответственности. Ранее мы выделяли данную категорию со средней ответственностью, но доля должников приблизительно совпадает.
Также можно предположить, что заемщики, которые берут кредит на образование, относятся к категории молодых людей и имеют более низкий уровень ответственности, в связи с чем доля должников среди них высока.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски в исходных данных могут появиться, если:
1) Сумма кредита до определенной планки, и кредит относится к категории, не требующей информации
2) Сбои при выгрузке данных
3) Упущение сотрудника при внесении данных
4) Неофициальное трудоустройство и, как следствие, отсутствие информации об официальном трудовом стаже и об официальном доходе

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение считается более точным, так как является серединным значением между двумя значениями, расположенными по возрастанию, либо средним значением между двумя значениями, расположенными по возрастанию.
Если заполнять данные средним значением, то есть риск получения менее достоверной информации, т.к. расчет среднего значения будет браться из всей колонки, где данные могут разниться в бОльшем диапазоне, чем при расчете медианы.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

По итогам проекта можно сделать следующие выводы:
    1) К более надежным клиентам можно отнести людей с 5-ю детьми либо без детей
    2) Менее рисковыми клиентами считаются овдовевшие либо разведенные клиенты
    3) Более ответственно к выплатам кредита своевременно относятся клиенты с уровнем дохода от 20 000 руб. до 50 000 руб., а также клиенты с доходом от 200 000 руб. до 1 000 000 руб.
    4) Исходя из целей кредита, более надежными клиентами считаются те, кто берет кредит на недвижимость.
    
На мой взгляд, более информативными будут количественные категории с количеством детей и уровнем дохода. Я бы порекомендовала заказчику обратить внимание именно на них.

Скорректированный вывод с учетом исправленных расчетов зависимости своевременной оплаты кредита от доходов заемщиков согласно рекомендации, полученной по итогам первой проверки проекта:
По итогам проекта можно сделать следующие выводы:
    1) К более надежным клиентам можно отнести людей с 5-ю детьми либо без детей
    2) Менее рисковыми клиентами считаются овдовевшие либо разведенные клиенты
    3) Более ответственно к выплатам кредита своевременно относятся клиенты с уровнем дохода от 203 000 руб. до 2 265 000 руб. и с доходом от 20 000 руб. до 103 000 руб.
    4) Исходя из целей кредита, более надежными клиентами считаются те, кто берет кредит на недвижимость.
    
На мой взгляд, более информативными будут количественные категории с количеством детей и уровнем дохода. Я бы порекомендовала заказчику обратить внимание именно на них.